<a href="https://colab.research.google.com/github/LucasGleysson/Estatistica_DS_ML/blob/master/Amostragens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##População e Amostragem

##População 
Todo o conjunto de registros


#Amostra
Parte da população.

- A amostra é sempre menor que a população.
- Trabalhar com amostras é mais rápido no processamento e demanda menos tempo para analisar.
- Da amostra, se é possível obter estatísticas sobre a população.
- A amostra deve ser **Randômica** e **Representativa**.

#Tipos de amostragem

##Metodos não Probabilisticos

- Não tem chances iguais de seleção
- Risco de não assistir a representatividade.
- Usada em estudos de campo

***Convêniencia***: Seleciona os registros que estão disponiveis naquele momento ou pessoas que se voluntariaram para a amostra.

***Quota***: Baseada em caracteristicas, como por exemplo, selecionar apenas pessoas que passam por uma rua específica. Leva ao risco de da não representatividade.

***Julgamento***: Onde se acha que determinada pessoa é a melhor para fazer parte da amostra.

***Snowball***: Alguém da amostra indica outra pessoa para fazer parte da amostra. Usada para encontrar pessoas de grupos específicos que são difíceis de se encontrar.

##Metodos Probabilisticos

- Chances iguais de seleção
- Maior chance de conseguir a representatividade
- Focados para a analise de dados.

In [ ]:
import random
import pandas as pd
import numpy as np

In [ ]:
# Visualização dos dados
dataset = pd.read_csv('/content/drive/MyDrive/Datasets/census.csv')
display(dataset.head(3))
display(dataset.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

(32561, 15)

###Amostragem aleatória simples

Seleciona aleatóriamente os elementos de uma base de dados.

In [ ]:
# 'sample' é um metodo do pandas que resgata aleatoriamente a quantidade
# de amostras que for passado.
def amostragem_aleatoria_simples(dataset, qnt_amostra):
  amostras = dataset.sample(n = qnt_amostra, replace = False, random_state=42)
  return amostras

amostra_simples = amostragem_aleatoria_simples(dataset, 100)
display(amostra_simples.head(3))
display(amostra_simples.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
14160,27,Private,160178,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
27048,45,State-gov,50567,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
28868,29,Private,185908,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,55,United-States,>50K

(100, 15)

###Amostragem Sistemática.

Seleciona as amostras usando um sistema que gera uma sequencia de números que vão depender do primeiro termo, gerado aleatóriamente e um intervalo, que é o resultado da divisão entre os tamanhos da população e da amostra.

In [ ]:
# 1. Se divide o tamanho da população pela quantidade da amostra para obter um
#    intervalor.

# 2. Seleciona um número aleatoriamente entre 0  e o valor do intervalo.

# 3. Iniciando do número aleatório, a sequencia segue tendo como passo o 
#    intervalo.

# random.seed(42)

def amostragem_sistematica(dataset, qnt_amostra):
  intervalo = round(dataset.shape[0] / qnt_amostra)
  inicio= random.randint(0, intervalo)
  indices = np.arange(inicio, len(dataset), step = intervalo)
  amostra = dataset.iloc[indices]
  return amostra

amostra_sistematica = amostragem_sistematica(dataset, 110)
display(amostra_sistematica.head(4))
display(amostra_sistematica.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
229,65,Private,176796,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
525,28,Private,85812,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,<=50K
821,31,Private,171871,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,46,United-States,<=50K
1117,41,Private,227644,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,<=50K

(110, 15)

###Amostragem por Grupos

Se divide a base de dados em vários grupos, e então usamos uma seleção aleatória simples para escolher qual grupo será pego como amostra. A amostra será todos os registros dentro daquele grupo.

- Esse tipo de amostragem é comum no estudo da geologia, onde se divide um terreno em grupos e então é feito um estudo em apenas uma parte daquele terreno.

In [ ]:
def amostragem_por_grupos(dataset, qnt_grupos):
  dataset = dataset.copy()
  qnt_amostra = dataset.shape[0] / qnt_grupos
  grupos = []
  id_grupo = 1
  contador = 0

  # Definindo os grupos
  for _ in dataset.iterrows():
    grupos.append(id_grupo)
    contador += 1
    if contador > qnt_amostra:
      contador = 0
      id_grupo += 1

  # Inserindo os grupos
  dataset['grupo'] = grupos

  #Escolhendo o grupo
  amostra = dataset[dataset['grupo'] == random.randint(1, qnt_grupos)]

  return amostra

In [ ]:
amostra_de_grupo = amostragem_por_grupos(dataset, 100)
display(amostra_de_grupo.head(2))
display(amostra_de_grupo.tail(2))
display(amostra_de_grupo.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
13366,54,Private,167770,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,55,United-States,>50K,42
13367,52,Private,204584,Bachelors,13,Married-spouse-absent,Exec-managerial,Not-in-family,White,Female,0,0,42,United-States,<=50K,42

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
13690,39,Federal-gov,82622,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,45,United-States,<=50K,42
13691,51,Private,199688,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,60,?,>50K,42

(326, 16)

###Amostra Estratificada
Método que tenta ter uma amostra mais representativa da população, escolhendo uma caracteristica que divide a população em grupos e então se tira uma amostra proporcional ao tamanho daqueles grupo.

In [ ]:
def amostragem_estratificada(dataset, qnt_amostra, gp_divisor):
  from sklearn.model_selection import StratifiedShuffleSplit

  # Configura o tamanho da amostra que será separada
  qnt_amostra = qnt_amostra / len(dataset) # converte a quantidade para uma fração do dataset (porcentagem)
  split = StratifiedShuffleSplit(test_size = qnt_amostra)
  
  # Faz a separação da amaostra de forma estratificada
  for _, y in split.split(dataset,dataset[gp_divisor]): 
    df_y = dataset.iloc[y]
  
  amostra = df_y
  return amostra

amostra_estratificada = amostragem_estratificada(dataset, 100, 'income')
display(amostra_estratificada.head(10))
display(amostra_estratificada.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
14373,24,Private,201179,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
4146,38,Private,177305,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
12837,69,State-gov,203072,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9871,63,Federal-gov,101996,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,>50K
1160,44,Private,193459,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,3411,0,40,United-States,<=50K
7956,20,Private,182661,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,20,United-States,<=50K
23385,39,State-gov,326566,Some-college,10,Never-married,Transport-moving,Own-child,Black,Male,0,0,40,United-States,<=50K
22781,53,Private,161691,HS-grad,9,Widowed,Sales,Not-in-family,White,Female,0,0,35,United-States,<=50K
8279,36,Private,447346,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
28723,37,Private,174150,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

(100, 15)

- Comparação

In [ ]:
# Porcentagem  <= 50k
display((dataset['income'].value_counts()[0] / len(dataset)) * 100)
# Porcentagem >50k
display((dataset['income'].value_counts()[1] / len(dataset)) * 100)

# Divisão das 100 amostras
amostra_estratificada['income'].value_counts()

75.91904425539757

24.080955744602438

 <=50K    76
 >50K     24
Name: income, dtype: int64

###Amostra de Reservatório

Metodo mais comum quando se trabalha com *data stream* de itens, com tamanho desconhecido e que podem ser acessados somente uma vez.

- *data stream são dados continuos, que estão sempre cehgando ou sendo atualizados, como dados de web ou e-commerce.*

O algoritmo deve sortear itens do stream, mas todos devem ter a mesma chance de serem selecionados.

In [ ]:
def amostragem_reservatorio(dataset, qnt_amostra):
  stream = []
  for i in range(len(dataset)):
    stream.append(i)

  reservatorio = [0] * qnt_amostra
  for i in range(qnt_amostra):
    reservatorio[i] = stream[i]

  i = 0 # Contador
  tamanho = len(dataset)
  while i < tamanho:
    j = random.randrange(i + 1) # Numero sorteado
    if j < qnt_amostra:
      reservatorio[j] = stream[i]
    i += 1

  amostra = dataset.iloc[reservatorio]
  return amostra


amostra_reservatorio = amostragem_reservatorio(dataset, 100)
display(amostra_reservatorio.head())
display(amostra_reservatorio.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
28613,37,Private,19899,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,15024,0,45,United-States,>50K
21046,27,Private,60288,Masters,14,Never-married,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
10253,17,?,210547,10th,6,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
20247,39,Local-gov,149833,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
24513,32,Private,198660,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K

(100, 15)

- Basicamente, a cada loop, será feito um novo sorteio, com os indices que já estavam no reservatorio e os novos, para que todos tenham a mesma chance.

###Comparativos
Vamos ver a média das idades em cada uma das amostras e comparar com a média das idades do dataset.

In [ ]:
comparativos = {'Amostragem' : ['Dataset','aleatoria_simples','por_grupos','sistemática',
                                'estratificada','reservatório'], 
                'Age_Mean' : [dataset["age"].mean(),amostra_simples["age"].mean(),
                amostra_de_grupo["age"].mean(),amostra_sistematica["age"].mean(),
                amostra_estratificada["age"].mean(),amostra_reservatorio["age"].mean()]}
                
comparativos = pd.DataFrame(comparativos)
comparativos

          Amostragem   Age_Mean
0            Dataset  38.581647
1  aleatoria_simples  38.320000
2         por_grupos  38.435583
3        sistemática  37.163636
4      estratificada  40.640000
5       reservatório  37.660000