<a href="https://colab.research.google.com/github/LucasGleysson/Estatistica_DS_ML/blob/master/Amostragens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##População e Amostragem

##População 
Todo o conjunto de registros


#Amostra
Parte da população.

- A amostra é sempre menor que a população.
- Trabalhar com amostras é mais rápido no processamento e demanda menos tempo para analisar.
- Da amostra, se é possível obter estatísticas sobre a população.
- A amostra deve ser **Randômica** e **Representativa**.

#Tipos de amostragem

##Metodos não Probabilisticos

- Não tem chances iguais de seleção
- Risco de não assistir a representatividade.
- Usada em estudos de campo

***Convêniencia***: Seleciona os registros que estão disponiveis naquele momento ou pessoas que se voluntariaram para a amostra.

***Quota***: Baseada em caracteristicas, como por exemplo, selecionar apenas pessoas que passam por uma rua específica. Leva ao risco de da não representatividade.

***Julgamento***: Onde se acha que determinada pessoa é a melhor para fazer parte da amostra.

***Snowball***: Alguém da amostra indica outra pessoa para fazer parte da amostra. Usada para encontrar pessoas de grupos específicos que são difíceis de se encontrar.

##Metodos Probabilisticos

- Chances iguais de seleção
- Maior chance de conseguir a representatividade
- Focados para a analise de dados.

##Amostragem aleatória simples

Seleciona aleatóriamente os elementos de uma base de dados.

In [ ]:
import random
import pandas as pd
import numpy as np

In [ ]:
# Visualização dos dados
dataset = pd.read_csv('/content/census.csv')
display(dataset.head(3))
display(dataset.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

(32561, 15)

In [ ]:
# 'sample' é um metodo do pandas que resgata aleatoriamente a quantidade
# de amostras que for passado.
def amostragem_aleatoria_simples(dataset, qnt_amostra):
  amostras = dataset.sample(n = qnt_amostra, replace = False, random_state=42)
  return amostras

amostra_simples = amostragem_aleatoria_simples(dataset, 100)
display(amostra_simples.head(3))
display(amostra_simples.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
14160,27,Private,160178,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
27048,45,State-gov,50567,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
28868,29,Private,185908,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,55,United-States,>50K

(100, 15)

#Amostragem Sistemática.

Seleciona amostras com base no resultado de um sistema calculado.

In [ ]:
# 1. Se divide o tamanho da população pela quantidade da amostra.
# 2. Seleciona um número aleatoriamente entre 0  e o resultado da divisão.
# 3. O número será o indicide da primeira amostra e "salto" entre cada amostra.

# random.seed(42)

def amostragem_sistematica(dataset, qnt_amostra):
  intervalo = round(dataset.shape[0] / qnt_amostra)
  inicio= random.randint(0, intervalo)
  indices = np.arange(inicio, len(dataset), step = intervalo)
  amostra = dataset.iloc[indices]
  return amostra

amostra_sistematica = amostragem_sistematica(dataset, 110)
display(amostra_sistematica.head(3))
display(amostra_sistematica.shape)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
60,30,Private,59496,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,2407,0,40,United-States,<=50K
356,65,Private,161400,11th,7,Widowed,Other-service,Unmarried,Other,Male,0,0,40,United-States,<=50K
652,35,Private,292472,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Taiwan,>50K

(110, 15)